@font-face {
font-family: BebasNeue;
src: url("BebasNeue.otf") format("opentype");
}

@font-face {
font-family:GeoSansLight;
src: url("GeosansLight.ttf") format("truetype");
}

.header {
    height: 125px;
    background-color: white;
    padding-top: 30px;
}

.header_inside {
    background-color: #F5E1ED;
    border-top: 11px #C37897 solid;
    border-bottom: 11px #C37897 solid;
    height: 80px;
    width:100%;
}

.header_inside img {
    font-size: 48px;
    display:inline-block;
    width: 470px;
    height: 200px;
    float: left;
    margin-top: -60px;
    margin-left: 10px;
}

.header_inside ul {
    list-style-type: none;
    display:inline-block;
    height: 100px;
    width: 815px;
    padding-left: 0px;
    position: absolute;
}

.header_inside ul li {
    display: inline-block;
    font-family: GeoSansLight, PT Sans Narrow, sans-serif;
    font-size: 30px;
    width: 175px;
    text-align:center;
    font-weight: 400;
    margin-top: 5px;
}

.header_inside a {
    color: black;

}
.header_inside a:visited {
    color: black;
}

.header_inside a:hover {
    color: #C37897;
}

.footer {
    border-top: 2px #C37897 solid;
    font-family: PT Sans Narrow, sans-serif;
    height: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

.footer span {
    font-size: 36px;
    font-weight: 400;
}

.footer img {
    height: 45px;
    width: 45px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

#main_pic {
    clear:both;
    width: 800px;
    display: block;
    margin: auto;
}

.index {
    width: 100%;
    margin-top: 30px;
}

.index_inside {
    width: 95%;
    height: 350px;
    margin: auto;
}

.news {
    background-color: black;
    box-shadow: 10px 10px 5px #888888;
    width: 48%;
    height: 300px;
}

.news h1 {
    text-align: center;
    color: white;
    font-weight: 400;
    margin-top: 0px;
    font-size: 42px;
}

.about1 {
    margin-top: 20px;
    clear: both;
    height: 475px;
}

.about1 img {
    width: 90%;
}

.about1 div {
    width: 50%;
    float: left;
}

.about1 h1 {
    text-align: center;
    background-color: black;
    color: white;
    height: 125px;
    font-family: 'BebasNeue', sans-serif;
    box-shadow: 5px 5px 5px #888888;
    font-size: 110px;
    width:85%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}

.about1 h2 {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

.event1 {
    clear: both;
    margin-bottom: 0px;
}

.event1 img {
    width: 100%;
    z-index: 1;
}

.event1 a {
    text-decoration: none;    
    width: 300px;
    color: white;
}

.event1 a:visited {
    color: white;
}

.event1 a:hover {
    color: #C37897;
}

.register {
    font-family: BebasNeue;
    margin: auto;
    margin-top: 0px;
    height: 50px;
    width: 300px;
    font-size: 42px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    z-index: 100;
}

.event2 {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

.event2 h3 {
    margin: auto;
    width: 60%;
    font-size: 18px;
    font-weight: 400;
    text-align:center;
}

.profile {
    width: 33%;
    float: left;
    position: relative;
    text-align:center;
}

.profile h1 {
    font-size: 30px;
    margin: 5px;
}

.profile h2 {
    margin: auto;
    width: 90%;
    font-size: 14px;
}

.support1 {
    
}

.support1 img {
    width: 100%;
}

.support1text {
    text-align: center;
    margin: auto;
    margin-top: -40%;
}

.support1text h1 {
    font-family: BebasNeue;
    margin: 0px;
    font-size: 120px;
    margin-bottom: 5%;
}

.support1text div {
    margin-bottom: 10px;
}

.support1 a {
    color: white;
    text-decoration: none;
}

.support1 a:visited {
    color: white;
}

.support1 a:hover {
    color: #C37897;
}

.support2 {
    clear:both;
    margin-top: 15%;
}

.support2 h1 {
    font-family: BebasNeue;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

.support2 div {
    width: 33%;
    float: left;
    margin-bottom: 25px;
}

.support2 img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}